<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:3000/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/signup">Sign up</a>
        <a href="/login">Login</a>
        <a href="/adminPage">Admin</a>
        <form action="/logout" method="POST">
            <button>Logout</button>
        </form>
    </nav>
    <h1>Welcome to this demo!</h1>
    <p>By the end of this demo <a href="/adminPage">/admin</a> should only be accessible by logged-in users. </p>
</body>
</html>